.lead-modal-gender {
    display: flex;
    gap:15px;
    margin-top: 15px;
    .lead-modal-gender-prisect {
        display: flex;
        font-size: 14px;
        font-weight: 400;
        align-items: center;
        gap:6px;
    }
    input[type="radio"]:focus-visible {
        outline: none !important;
        outline: none !important;
        box-shadow: none;
        width: 15px;
        height: 15px;
        margin-top: -1px;
    }
    input[type="radio"]:focus {
        border: none !important;
        outline: none !important;
        width: 15px;
        height: 15px;
        margin-top: -1px;
    }
    input[type="radio"] {
        width: 15px;
        height: 15px;
        margin-top: -1px;
    }
}

  