@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "./theme/commonTheme.scss";

.tooltip-scrollable {
  max-height: 250px; // Adjust height as needed
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    /* Scrollbar width */
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 2px solid transparent;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: #333;
  }
}

.user-table-container {
  margin-top: 0px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  overflow-x: auto;
  margin-right: 15px;

  .MuiCheckbox-root {
    padding: 0;
    margin: 0;
  }

  .MuiIconButton-root {
    padding: 8px;
  }

  .more-users {
    cursor: pointer;
    color: #0073e6;
    font-size: 12px;
    margin-left: 8px;
  }

  tr:hover {
    background-color: #f9f9f9;
  }

  .university-cell {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .user_name {
    width: 100%;
    padding: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.activity-clock-icon-btn {
  // width: 22;
  // height: 22;
  width: fit-content;
  // padding: 1.5px;
  border: 1px solid #e1e1e1;
  border-radius: 6px;
}

.status_badge {
  margin-left: auto;
}

/* WebKit Scrollbar Styles */
.user-table-container::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.user-table-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.user-table-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid transparent;
}

.user-table-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.user-table-container::-webkit-scrollbar-thumb:active {
  background-color: #333;
}

.manager-roles-headers-roles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  padding: 10px 15px 0px;

  .role-description-user {
    h1 {
      color: $text-heading-color;
      font-size: $heading-h5-size;
      font-weight: $font-weight-bold;
      line-height: 10.5px;
    }

    p {
      color: $text-muted-color;
      font-size: $font-size-sm;
      font-weight: $font-weight-normal;
    }
  }

  .action-buttons {
    display: flex;
    gap: 12px;

    button {
      font-size: $font-size-sm;
      font-weight: $font-weight-semibold;
      border-radius: 6px;
      border: $button-border-color;
      background: $button-bg-gradient-default;
      box-shadow: $button-box-shadow-default;
      display: flex;
      padding: 8px 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      cursor: pointer;
      font-family: Inter;
    }

    .action-button {
      width: 120px;
    }

    .create-role-button {
      width: 160px;
      background: $create-role-button-bg-gradient;
      box-shadow: $create-role-button-box-shadow;
      height: 40px;
    }
  }
}

.dialogue_content {
  margin: 0;
  padding: 0;

  .reset_pass_title {
    font-size: 28px;
    font-weight: 600;
    font-family: Inter;
    line-height: 0;
  }

  .user_tabs_active,
  .user_tabs_password {
    text-transform: capitalize !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    font-family: Inter !important;
  }
}

@media (max-width: 767px) {
  .manager-roles-headers-roles {
    display: block;

    .action-buttons {
      justify-content: space-between;
    }
  }

  .table-scroll-container {
    .role-table-parent {
      display: block;
      margin-top: 10px;

      .role-search {
        display: flex;
        justify-content: flex-start;
      }
    }
  }

  .pagination-wrapper {
    .pagination-buttons {
      display: none;

      button {
        display: none;
      }
    }
  }

  .filter-buttons {
    width: min-content;
  }
}
