.map-roles-modal {
  width: 740px;
  background-color: #fff;
  border-radius: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: fixed; /* Fixed to the screen */
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column; /* Flexbox layout */
  overflow-y: auto;
  z-index: 1;


  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h2 {
      font-size: $heading-h3-size;
    }

    .close-button {
      background: none;
      border: none;
      font-size: $heading-h3-size;
      cursor: pointer;
    }
  }

  .modal-body {
    display: flex;
    flex-direction: column;
    gap: 16px;
  
    .form-group {
      label {
        margin-bottom: 8px;
        font-weight: bold;
      }

      select {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 1rem;
      }
    }

    .user-selection {
      display: flex;
      flex-direction: column;
      gap: 12px;
      height: 500px;
      .search-select-all {
        display: flex;
        justify-content: space-between;
        align-items: center;

        input[type="text"] {
          width: 70%;
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 4px;
        }

        .select-all-button {
          background-color: #007bff;
          color: #fff;
          border: none;
          padding: 8px 16px;
          border-radius: 4px;
          cursor: pointer;
        }
      }

      .user-list {
        // max-height: 200px;
        // overflow-y: auto;
        // border: 1px solid #ccc;
        border-radius: 4px;
        padding: 8px;

        .user-item {
          display: flex;
          justify-content: space-between;
          padding: 8px 0;

          span {
            font-size: $font-size-lg;
          }

          input[type="checkbox"] {
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  border-top: 1px solid #ccc;
  width: 100%;
  padding: 15px;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  .cancel-button {
    background-color: #ccc;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }

  .map-button {
    background-color: $map-button-bg-color;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    color: #000 ;
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 999; /* Ensure it covers the content behind */
}