@import "./theme/commonTheme.scss";

.table-container {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #ccc;

  table {
    width: 100%;
    border-collapse: collapse;

    th {
      border-top: 0.5px solid #ccc;
      border-bottom: 0.5px solid #ccc;
      border-left: 0.5px solid #ccc;
      background: #F8F2E3;
    }

    td {
      padding: 5px 15px;
      text-align: left;
      border: 1px solid #C1C1C1;
      font-family: Inter;
      font-size: $font-size-sm;
      font-weight: $font-weight-medium;
      line-height: 22px;
    }

    th {
      font-weight: bold;
      color: #333;
      padding: 5px 15px;
      font-family: Inter;
      font-size: $font-size-sm;
      font-weight: 800;
      line-height: 22px;
    }

    tbody tr:hover {
      background-color: #f1f1f1;
    }
  }


  .role-table-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
  }

  .role-search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .filter-button {
    display: flex;
    width: 93px;
    height: 32px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    border: $filter-button-border-color;
    background: $filter-button-bg-color;
    font-size: $font-size-sm;
    cursor: pointer;
  }
}

.filter-buttons {
  margin-bottom: 0px;
  border-radius: 8px;
  display: flex;
  border: $filter-buttons-border-color;

  button {
    flex: 1;
    border: none;
    border-right: $filter-buttons-border-color;
    text-transform: capitalize;
    font-size: $font-size-sm;
    font-weight: $font-weight-medium;
    height: 30px;
    cursor: pointer;
    background: none;
    outline: none;
    font-family: Inter;
    color: #7D7D7D;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;

    &.active {
      background-color: $button-active-bg-color;
      color: #29339B;
      outline: $button-active-outline;
      border-left: none;
      border-right: none;
    }
  }

  .all-button {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .disabled-button {
    border-right: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

.collapse_box{
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.search-box {
  display: flex;
  align-items: center;
  margin: 20px 0;

  input {
    padding: 8px 12px;
    width: 256px;
    height: 32px;
    border-radius: 8px;
    border: 1px solid #D2D2D2;
  }

  .search-icon {
    background: none;
    border: none;
    font-size: $font-size-md;
    margin-left: -30px;
    cursor: pointer;
  }
}

.manager-roles-headers-roles {
  padding: 20px 0px 0px 20px;
}

.table-scroll-container {
  position: relative;

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 2px solid transparent;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  ::-webkit-scrollbar-thumb:active {
    background-color: #333;
  }
}


/* Base styles for the chip */
.status-chip {
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 4px;
}

/* Styling for Enabled status */
.status-chip.enabled {
  color: $enabled-color;
  background-color: $enabled-bg-color;
}

/* Styling for Disabled status */
.status-chip.disabled {
  color: $disabled-color;
  background-color: $disabled-bg-color;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .table-container {
    height: auto;
  }
}

@media (max-width: 767px) {
  .table-container {
    .role-table-parent {
      margin-top: 15px;
      display: block;
      padding: 0 6px;

      .filter-buttons {
        button {
          padding: 0px 6px;
          font-size: 12px;
        }

      }

      .role-search {
        justify-content: flex-start;
      }

      .search-box {
        input {
          width: 225px;
        }
      }
    }
  }

  .manager-roles-headers-roles {
    padding: 20px 20px 0 20px;
  }
}